<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>
        <i class="fas fa-list"></i> Vagas cadastradas
      </h1>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Área</th>
          <th scope="col">Objetivo</th>
          <th scope="col">Requerido</th>
          <th scope="col">Experiência</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let job of jobs; let index = index">
          <th scope="col">{{job.id}}</th>
          <td>{{job.area}}</td>
          <td>{{job.objetivo}}</td>
          <td>{{job.requerido}}</td>
          <td>{{job.experiencia === 1 ? 'Sim' : 'Não'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
